{% extends "base.html.twig" %}

{% block title %} Mes produit{% endblock %}

{% block body %}

    <h1> Mes produit</h1>

    {#in peut acceder a lutilisateur connecete grace a la variable app#}
    <ul>
        {% for product in app.user.products %}
            <li>{{product.name}}</li>    
            {% endfor %}
    </ul>
{% endblock %}